div {
  margin-bottom: 0.2rem;
}

label {
  display: inline-block;
  width: 8rem;
}

.input-container label {
  padding: 0.2rem 0.2rem;
}

.input-error {
  margin: 0.2rem 0.2rem;
  padding: 0.2rem;
  color: red;
}
